<!DOCTYPE html>
<head>
    <title>Wildfires Offense | About</title>
    <!--Allows input characters to be encoded using UTF-8 standards-->
    <meta charset="utf-8">
    <!--Allows size of webpage to adjust to differnt device screen sizes, e.g. phones vs desktops-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Basic description of Webpage-->
    <meta name="author" content="Suchwinder Singh Ethan Sam Emily Fang Eva Yan">
    <meta name="description" content="Assignment 1 CUNY2x">
    <!--reference to CSS file storing the design of the webpage-->
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <link rel="stylesheet" type="text/css" href="../styles/aboutStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body {
        background-image: url(../img/about_firefighters.png);
        background-repeat: repeat;
        background-size: 200%;
    }
</style>
</head>
<!--About Page -->

<body>
    <!-- Header -->
    <div class="header">
        <img src="../img/icon.png" style="width:2%">
        <h1>Wildfires Offense</h1>
        <div class="topnav">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a class="active" href="">About</a></li>
            <li><a href="templates/donation.html">Donation</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
    </div>

  <!-- Content -->
    <div class="abcontainer">
        <img src="../img/staffstock.jpg" width="70%">
        <h1> Who Are We? </h1>
        <p>We are <u>Wildfires Offense</u>™, a Sydney-based nonprofit dedicated to combating the heart of the Australian wildfires <br>and climate-change disasters worldwide. We believe in aiming for a better, sustainable future through renewed <br>care for our environment.</p>
    </div>

    
        <div class="column" style="background-color: rgba(255, 0, 0, 0.8)">
            <h2>Support</h2>
            <p>Tens of thousands of people have fled from the fire-ravaged regions of New South Wales and Victoria as bushfires
            continue to devastate Australia. Donations to the NSW Rural Fire Service directly benefit the volunteer firefighters
            on the frontline to help the NSW wildlife victims.</p>
        </div>
        <div class="column" style="background-color: rgba(104, 104, 104, 0.99);">
            <h2>Coordinate</h2>
            <p>Austrailian Wildfires affect the bio-diversity in forests and the Great Austrailian Outback. Local donation drives 
                collect money and food for those affected by wildfires. Volunteers coordinate rescue efforts for those trapped in 
                collapsed homes. We coordinate efforts between volunteers nationwide.</p>
        </div>
        <div class="column" style="background-color: rgba(140, 140, 140, 0.99);">
            <h2>Develop</h2>
            <p>Policymakers guide the future and help safekeep our enviornment and ecosystems for future generations. We collaborate
                with domestic and international leaders to ensure that we are making responsible and proactive decisions for wildlife 
                and its surrounding communities.
            </p>
        </div>
    
    <!-- 
    ! Not Formatted Yet & Content is Unedited. Take a look and see what you want to edit and keep. !

    <div>
        <h2> The Risk </h2>
            <p> Firefighters are susceptible to burns, smoke inhalation and crush injuries from collapsing structures. They can suffer
            from heat exhaustion, as well as long-term job-related illnesses such as asthma, persistent coughing, heart disease,
            cancer and lung damage.</p>
    </div>

    <div>
        <h2> Values </h2>
            <p> As members of the Fire Service, firefighters share a responsibility to project an ethical 
            character of professionalism, integrity, compassion, loyalty, and honesty in all that they do.</p>
    </div>

    <div>
        <h2> About Us </h2>
            <p>Firefighters or firemen are people whose job is to put out fires and rescue people. Besides fires, firefighters rescue
            people and animals from car wrecks, collapsed buildings, stuck elevators and many other emergencies. Firefighting is a
            job which requires bravery, strength, quick thinking and a wide range of skills.  </p>
    </div>
    -->

  <!-- Footer -->
  <div class="footer">
    <div class= "footer_text">
        <p> © WildfiresOffense 2019 | 161 Sussex St, Sydney, NSW 2001 | 0402 228 158 | contact@wildfiresoffense.org</p>
    </div>

    <div class="social_icons">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
 </div>

</body>
</html>

