<!DOCTYPE html>
<head>
    <title>Wildfires Offense</title>
    <!--Allows input characters to be encoded using UTF-8 standards-->
    <meta charset="utf-8"> 
    <!--Allows size of webpage to adjust to differnt device screen sizes, e.g. phones vs desktops-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Basic description of Webpage-->
    <meta name="author" content="Suchwinder Singh Ethan Sam Emily Fang Eva Yan">
    <meta name="description" content="Assignment 1 CUNY2x">
    <!--reference to CSS file storing the design of the webpage-->
    <link rel="stylesheet" type="text/css" href="../styles/donate.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="header">
        <img src="../img/icon.png" style="width:2%">
        <h1>Wildfires Offense</h1>
        <div class="topnav">
          <ul>
            <li><a class="active" href="../index.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./donation.html">Donation</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    <br>
    <br>
    <!-- <div class = "form">
        <form action = "../index.html">
            First Name:<br>
            <input type="text" name="firstname" placeholder="First Name"><br>
            Last Name: <br>
            <input type="text" name="lastname" placeholder="Last Name"><br>
            Email Address: <br>
            <input type="text" name="emailaddress" placeholder="Email Address"><br>
            <input type="submit" value = "Submit">
        </form>
    </div> -->
    <div class="donation-container">
        <div class="donation-box">
            <div class="donation-wrapper">
                <div class="title">Donation Information</div>
                <div class="fields">
                    <input type="text" id="firstName" placeholder="First Name"> </input>
                    <input type="text" id="lastName" placeholder="Last Name"> </input>
                    <input type="text" id="email" placeholder="Email"> </input>
                </div>
                
                <div class="amount">
                    <select>
                        <option value="">select</option>
                        <option value="$5">$5</option>
                        <option value="$10">$10</option>
                        <option value="$30">$30</option>
                        <option value="$50">$50</option>
                        <option value="$100">$100</option>
                    </select>
                    <!-- <div class="button">$30</div>
                    <div class="button">$50</div>
                    <div class="button">$100</div> -->
                    <p class="custom">Custom</p>
                    <div class="button">$<input type="text" class="set-amount" placeholder=""> </input></div>
                </div>
                
                <div class="switch">
                    <input type="radio" class="switch-input" name="view" value="One-Time" id="one-time" checked="">
                    <label for="one-time" class="switch-label switch-label-off">One-Time</label>
                    <input type="radio" class="switch-input" name="view" value="Monthly" id="monthly">
                    <label for="monthly" class="switch-label switch-label-on">Monthly</label>
                    <span class="switch-selection"></span>
                </div>
                
                <div class="checkboxes">
                    <input type="checkbox" id="receipt" class="checkbox" />
                    <label for="receipt">Email Me A Receipt</label>
                    <br />
                    <input type="checkbox" id="anon" class="checkbox" />
                    <label for="anon">Give Anonymously</label>
                    <br />
                    <input type="checkbox" id="list" class="checkbox" />
                    <label for="list">Add Me To Email List</label>
                </div>
                
                <div class="confirm">
                    
                </div>
                
                <button id="donate-button" onclick="location.href = '../index.html';" id="myButton" class="float-left submit-button" >Donate</button>
                <!-- //<div class="donate-button"><i class="fa fa-credit-card"></i> Donate Now</div> -->
            </div>
            </div>
        <h4>Thank You for Donating</h4>
        <p id = "paragraph">Upon clicking Donate  you will be brought back to the Home Page</p>
    </div>

    <!-- Footer -->
    <div class="footer">
        <p> © WildfiresOffense 2019 | 161 Sussex St, Sydney, NSW 2001 | 0402 228 158 | contact@wildfiresoffense.org</p>
    </div>
    <!-- <div class = "footer">
        <h4>Thank You for Donating</h4>
        <p id = "paragraph">Upon clicking Submit you will be brought back to the Home Page</p>
    </div> -->

    
</body>

