/* FONTS -------------------------------------------------------*/
@font-face { 
    font-family: cosima;
    src: url("../fonts/cosima.otf") format("opentype");
}

@font-face {
    font-family: clab;
    src: url("../fonts/clab_reg.otf") format("opentype");
}

@font-face {
    font-family: gnuolane;
    src: url("../fonts/gnuolane.ttf");
}


/* GENERAL -----------------------------------------------------*/

* {
    box-sizing: border-box;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    position: relative;

}

/* HEADER  & NAVIGATION-----------------------------------------------------*/
.header {
    background-color: red;
    font-family: clab;
    padding: 1.5%;
    top: 0;
    width: 100%;
}


.header h1{
    font-size: 2vw;
    display: inline;
}

.topnav {
    margin: 0;
    width: 27%;
    font-family: clab;
    float: right;    
    overflow: hidden;
    background-color: red;

}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 2% 5%;
    font-size: 1.15vw;
    text-decoration: none;
}

.topnav a:hover {
    color: #ddd;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topnav li {
    float:left;
    padding: 2.5%;
}

.topnav li:not(:last-child) { 
    border-right:solid 1px #fff;/* This will not give border to last li element */
}

/* FOOTER ------------------------------------------*/
.footer_container {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #111;
    font-family: gnuolane;
    padding: 0.6%;
    height: 7%;
    color: #ededed;
    letter-spacing: 2px;
}

.footer
{

}

.wrapper
{
    height: auto !important;
    height: 100%
	       
}

.footer_container, .push {
    height: auto;
    padding: 1%
}

/* Social Media Icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
}

.footer_text
{
    display: inline-block;
}

.footer p
{
    font-size: 1.15vw;
}

.social_icons
{
    display: inline-block;
    margin-left: 25%;
}

.social_icons a
{
    height: 70%;
}

/* CONTAINER-------------------------------------------*/
.container{
    background-color: #222;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1% 1%;
    box-shadow: 4px 4px #222;
}

.container h1, h2 {
    color: white;
    font-size: 1.25vw;
}

.container h1 {
    font-size: 1.75vw;
    font-family: clab;
}

.container h2 {
    font-size: 1.25vw;
    font-family: gnuolane;
    letter-spacing: 2px;
}

.container p {
    font-size: 1vw;
    font-family: gnuolane;
    color: white;
    letter-spacing: 2px;
}

.container:link {
    color: #f9cb25;
}

/* PLACEMENT OVER IMAGES --------------------------------*/
.top-left {
    width: 40%;
    text-align: left;
    position: absolute;
    top: 10%;
    left: 23%;
    letter-spacing: 1px;
    font-family: gnuolane;
    font-size: 1.5vw;
}

.top-left h2 {
    font-size: 5vw;
}

.bottom-right {
    width: 40%;
    text-align: right;
    position: absolute;
    bottom: 10%;
    right: 23%;
    letter-spacing: 1px;
    font-family: gnuolane;
    font-size: 1.5vw;
}

.bottom-right h2 {
    font-size: 5vw;
}

.centered {
    padding: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: gnuolane;
    font-size: 2.75vw;
    border-radius: 4px;
    border: none;
    transition: all 0.4s;
    cursor: pointer;
    margin: .5vw;
}

.centered span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}


.centered span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.centered:hover span {
    padding-right: 25px;
}

.centered:hover span:after {
    opacity: 1;
    right: 0;
}

.centered a {
    text-decoration: none;
}

.centered a:visited {
    color: black;
}

.centered h2 {
    font-size: 5vw;
}

/* DIVIDED CONTAINER ------------------------------------------------*/
.split {
    height: 100%;
    width: 50%;
    display: inline;
    overflow: hidden;
    color: white;
    text-align:left;
}

.left {
    left: 0;
    width: 50%
}

.left img {
    
}

.right {
    right: 0;	     
    width: 50%;
}

.right img {

}

/* Parallax ------------------------------------------------*/

.bgimg-1, .bgimg-2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../img/fire.jpeg");
    height: 12%;
}

.bgimg-2 {
    background-image: url("../img/destruction.jpeg");
    height: 40%;
}

/* Container hyperlinks ----------------------------------------- */
h2 a {
    color: red;
}

h2 a:visited {
    color: red;
}
/* 
img {    
} */
