* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.header {
    background-color: red;
    padding: 10px;
    height: 15%; /* Should be removed. Only for demonstration */
}


.container{
    background-color: #333;
    position: relative;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75%;
    padding: 4%;
}

.container h2 {
    color: white;
    
}

.bottom-right {
    text-align: right;
    position: absolute;
    bottom: 3%;
    right: 0%;
}

img {
    
}
