* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/* TOP BAR -----------------------------------------------------*/
.header {
    background-color: red;
    padding: 1.5%;
    height:
}

.header h1{
    display: inline;
}

.topnav {
    margin: 0;
    width: 27%;
    float: right;    
    display: inline;
    overflow: hidden;
    background-color: red;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 2% 5%;
    font-size: 1.15vw;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #333;
    color: #ddd;
}

/* CONTAINER-------------------------------------------*/
.container{
    background-color: #333;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1% 1%;
    height: auto;
}

.container h1, h2 {
    color: white;
    font-size: 1.25vw;
}

/* PLACEMENT OVER IMAGES --------------------------------*/
.top-left {
    width: 40%;
    text-align: left;
    position: absolute;
    top: 10%;
    left: 23%;
}

.top-left h2 {
    font-size: 5vw;
}

.bottom-right {
    width: 40%;
    text-align: right;
    position: absolute;
    bottom: 10%;
    right: 23%;
}

.bottom-right h2 {
    font-size: 5vw;
}

.centered {
    padding: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered h2 {
    font-size: 5vw;
}

.split {
    height: 100%;
    width: 50%;
    position: relative;
    z-index:1;
    top: 0;
    margin-left: 5%;
    overflow-x: hidden;
    color: white;
    text-align:left;
}

.left {
    height: 50%;
    left: 0;
}

.right {
    right:0;
}

.bgimg-1, .bgimg-2 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../img/fire.jpeg");
    height: 12%;
}

.bgimg-2 {
    background-image: url("../img/destruction.jpeg");
    height: 40%;
}

h2 a {
    color: red;
}

h2 a:visited {
    color: red;
}

img {    
}
